Downloads
Applications (Parallels)/
Applications/
Desktop/
Documents/
Library/
Movies/
Music/
Nextcloud/
Parallels/
Pictures/
Public/
Zomboid/
external/
private.gpg
project/
work/

.CFUserTextEncoding
.DS_Store
.SotALauncher.pid
.Trash/
.android/
.bash_history
fzf.bash
.fzf.zsh
.fzf/
.g8/
.gem/
.gnupg/
.gradle/
.local/
.mailcap
.mime.types
.mono/
.mysql_history
.npm/
.nvm/
.sbt/
.sdkman/
.oh-my-zsh
.zsh_sessions/
.zsh_history
.swn
.swo
.bsp

.ssh/**/*
!.ssh/config

.m2/repository

.ivy2/**/*
!.ivy2/.credentials

#Rally/Optum stuff
.testcontainers.properties
