.gitconfig.local

Downloads
Applications (Parallels)/
Applications/
Desktop/
Documents/
Library/
LastPass.app
Movies/
Music/
Nextcloud/
Parallels/
Pictures/
Public/
Zomboid/
external/
notes/
project/
work/

.CFUserTextEncoding
.DS_Store
.SotALauncher.pid
.Trash/
.android/
.bash_histora
# pre-commit
.cache
.config
.docker
.fzf.bash
.fzf.zsh
.fzf/
.g8/
.gem/
.gnupg/
.gradle/
.local/
.mailcap
.mime.types
.mono/
.mysql_history
.npm/
.nvm/
.sbt/
.sdkman/
.oh-my-zsh
.zsh_sessions/
.zsh_history
.swn
.swo
.bsp
.kube/*cache
.vim
.groovy/
.kube/
.lesshst
.npmrc
.todoist.config.json
.vim_mru_files
.viminfo
.zcompdump*

.ssh/**/*
!.ssh/config

.m2/repository

*cache*

.ivy2/**/*
!.ivy2/.credentials
!.ivy2/credentials
**/*.swp

# Rally/Optum stuff
.testcontainers.properties
.admin*.txt
.anyconnect
.cisco
.vmware
.scab
.aws
.rds-combined-ca-bundle.pem
.ops-tool-daily-check

