Downloads
Applications (Parallels)/
Applications/
Desktop/
Documents/
Library/
Movies/
Music/
Nextcloud/
Parallels/
Pictures/
Public/
Zomboid/
external/
private.gpg
project/

fzf.bash
.fzf.zsh
.fzf/
.g8/
.gem/
.gnupg/
.gradle/
.local/
.mailcap
.mime.types
.mono/
.mysql_history
.npm/
.nvm/
.sbt/
.sdkman/
.swn
.swo

.ssh/id_*
.ssh/id_*.*
.ssh/known_hosts
